.nav{
    display: flex;
    background-color: blue;
    justify-content: space-evenly;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-evenly; 
}
li{
   text-decoration: none;
   display: inline-block;
   color: cornsilk;
   padding-left: 30px;

}

img{
    width: 100px;
}